workflow.json
{
  "name": "Sales Prep Report",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        -448
      ],
      "id": "0129085b-12ff-46ed-a249-091c49074032",
      "name": "When chat message received",
      "webhookId": "343c869a-bf97-45ad-95af-4a98abfd805f",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        592,
        -464
      ],
      "id": "df771448-c5d9-468f-9e12-6b52c694f375",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        304,
        -256
      ],
      "id": "dd1c1f2f-cd37-42db-899b-ec9e899a040f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SGOgdhyZS5Eu2wXz",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "A templates derived from vector database with a pre defined Sales Preparation Report template, this Data source can be used to generate a Sales Preparation Report.",
        "topK": "=10"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        576,
        -224
      ],
      "id": "0834083b-8c58-4469-a483-9f9878db8755",
      "name": "Answer questions with a vector store",
      "notesInFlow": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        -64
      ],
      "id": "ae87c899-91a2-42bb-afe7-2aa6fc9a53a5",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "SGOgdhyZS5Eu2wXz",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "upguard-small",
          "mode": "list",
          "cachedResultName": "upguard-small"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        496,
        -64
      ],
      "id": "7749e8ab-098b-4503-9813-d1b6abe957ba",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "UF3wiW23BurvekoT",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        496,
        96
      ],
      "id": "79604ac7-9a46-460b-86bd-6c4175d3e0ee",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "SGOgdhyZS5Eu2wXz",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Sales Preparation Report - {{ $json.items[0].name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1bihKuZKDH7ZUIEW89v2MlOdc1wowEzeT",
          "mode": "list",
          "cachedResultName": "upguard",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bihKuZKDH7ZUIEW89v2MlOdc1wowEzeT"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        624,
        -672
      ],
      "id": "417e1479-3645-46e5-a0c0-44edcfadba3a",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZC9mjMNDuMS2FsB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1216,
        -832
      ],
      "id": "b8953f84-934b-487a-9a14-cf1ebacd6642",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        -464
      ],
      "id": "4a8f2e4f-d384-45c3-8767-66df4aefb42d",
      "name": "Chat & Web Content",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://api.companyenrich.com/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"semanticQuery\": \"{{ $json.target }} with link {{ $json.link}}\",\n  \"page\": 1,\n  \"pageSize\": 2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -848
      ],
      "id": "f61f20ad-e59d-4cd5-a250-7950e98ece0c",
      "name": "Company Enricher",
      "credentials": {
        "httpBearerAuth": {
          "id": "J66kKl1RqTKFuz1w",
          "name": "Bearer Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1216,
        -480
      ],
      "id": "2a6a4d9c-f33d-403d-bd15-587a29adc500",
      "name": "Upload Report Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "name": "={{ $json.name}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{  $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1376,
        -480
      ],
      "id": "ec4c5513-7331-4f7e-a30d-0ffb86b88477",
      "name": "Upload Report",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZC9mjMNDuMS2FsB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        16
      ],
      "id": "0c1e2c48-15b1-4e06-a821-3ea7d3b9817e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "SGOgdhyZS5Eu2wXz",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1200,
        0
      ],
      "id": "4e35fc3a-2e7e-47ac-8c58-affa1a50874f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1200,
        128
      ],
      "id": "d61f1936-dc22-4c89-9d9f-61015d61db5a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "upguard-small",
          "mode": "list",
          "cachedResultName": "upguard-small"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1024,
        -176
      ],
      "id": "d82ce8c0-5387-43db-803c-9fcd638c0112",
      "name": "Store Report to Vector Database",
      "credentials": {
        "pineconeApi": {
          "id": "UF3wiW23BurvekoT",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "=Company Details - {{ $json.name.split(\"-\")[1] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1376,
        -832
      ],
      "id": "65335c6b-2304-4be9-8de2-d8fa661200d9",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZC9mjMNDuMS2FsB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"reference\": {{ JSON.stringify($json.items[0]) }},\n  \"chatInput\": \"{{ $('When chat message received').item.json.chatInput }}, only export result\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -464
      ],
      "id": "5a340654-1e16-4e9c-9d7f-d1359151691f",
      "name": "Prep Agent Input"
    },
    {
      "parameters": {
        "jsCode": "const messages = $input.all();\nconst extractedData = messages.map((message) => {\n  const companyNameMatch = message?.json?.chatInput.match(\n    /Sales Preparation Report for (.*?)\\./,\n  );\n  const linkMatch = message?.json?.chatInput.match(/(www\\.[\\w.-]+\\.com)/);\n  return {\n    target: companyNameMatch ? companyNameMatch[1] : null,\n    link: linkMatch ? linkMatch[1] : null,\n  };\n});\nreturn extractedData;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -848
      ],
      "id": "d65e2ce9-d560-4b1a-8e05-509979643a93",
      "name": "Extract Search Content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "665e1568-b5e3-437d-baad-45c96737ac34",
              "name": "items[0]",
              "value": "={{ $json.items[0] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -848
      ],
      "id": "9f605bd5-2521-4f30-92f8-b114876497de",
      "name": "Closest Match"
    },
    {
      "parameters": {
        "content": "## Fetching Company Details\n",
        "height": 400,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -944
      ],
      "typeVersion": 1,
      "id": "97a18512-78ef-40d1-bcb0-b3f4eb575513",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Store Company Details",
        "height": 400,
        "width": 1104,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -944
      ],
      "typeVersion": 1,
      "id": "e24e08ca-b893-4318-84c5-8fd4bf6e22af",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Chat with RAG agent",
        "height": 800,
        "width": 1072,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -528
      ],
      "typeVersion": 1,
      "id": "0bfce48b-fcc8-4334-a7cb-f7c194075c24",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Store Final Report",
        "height": 240,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        -528
      ],
      "typeVersion": 1,
      "id": "c0fcc7c9-a942-4ef3-918f-6768cb82875d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Store embeddings in vectors",
        "height": 544,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        -272
      ],
      "typeVersion": 1,
      "id": "0c0b519b-abdd-4ac0-9739-c1886a8f3a64",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Convert  {{ JSON.stringify($json.items[0]) }} into text,only export converted result."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        656,
        -848
      ],
      "id": "7e56ad1e-4122-4644-94a1-fa660faa01ab",
      "name": "Message a model",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "SGOgdhyZS5Eu2wXz",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        448,
        -256
      ],
      "id": "9ca35d74-4f3b-4fc4-80f9-ded9e7db7407",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        960,
        -464
      ],
      "id": "8944652f-0e23-45ad-858a-0154cbae0d63",
      "name": "To File"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "message.content",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        -848
      ],
      "id": "4687c811-492e-4649-a716-5364c86518d4",
      "name": "To File1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Extract Search Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat & Web Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Upload Report Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "To File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Report to Vector Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat & Web Content": {
      "main": [
        [
          {
            "node": "Prep Agent Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Enricher": {
      "main": [
        [
          {
            "node": "Closest Match",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat & Web Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Report Merge": {
      "main": [
        [
          {
            "node": "Upload Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Store Report to Vector Database",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Store Report to Vector Database",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Prep Agent Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Search Content": {
      "main": [
        [
          {
            "node": "Company Enricher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Closest Match": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "To File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "To File": {
      "main": [
        [
          {
            "node": "Upload Report Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "To File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "32c550ad-d16f-43cf-9245-6ad2889909db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3627fc1cd370a8cc3c64c7123de6fdb468485a169af26054559baafbaf38c0de"
  },
  "id": "UINMCnpZZRBFuzj9",
  "tags": []
}